# входной поток для uWSGI
upstream uwsgi_app {
    server unix:/code/gem_deals/uwsgi_app.sock;
}

server {
    listen       80;
    server_name  127.0.0.1;
    error_log    stderr warn;
    access_log   /dev/stdout main;
    location / {
        include      /etc/nginx/uwsgi_params;
        uwsgi_pass   uwsgi_app;
    }
	
	location /static/ {
        alias /code/gem_deals/static/;
    }
    location /media/ {
        alias /code/gem_deals/media/;
    }
}